@model IEnumerable<AnkietaMVC.Models.Section>

<br />
<br />
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Choose category</h2>

    <ul class="nav nav-tabs">
        @foreach (var item in Model)
        {
            if (item.Id == 1)
            {
                <li class="active"><a data-toggle="tab" href="#@item.SectionLink">@item.SectionTabName</a></li>
            }
            else
            {
                <li><a data-toggle="tab" href="#@item.SectionLink">@item.SectionTabName</a></li>
            }
        }
    </ul>
    <div class="tab-content">
        @foreach (var item in Model)
        {
            if (item.Id == 1)
            {
                <div id="@item.SectionLink" class="tab-pane fade in active">
                    <h3>@item.SectionHeaderName</h3>
                    @Html.Partial("~/Views/Home/Question.cshtml", item.Question)
                </div>
            }
            else
            {
                <div id="@item.SectionLink" class="tab-pane fade">
                    <h3>@item.SectionHeaderName</h3>
                    @Html.Partial("~/Views/Home/Question.cshtml", item.Question)
                </div>
            }
        }
    </div>
</div>
